body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.background-fade {
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 2px; 
}

.header {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 20px;
}

.button {
    background-color: rgb(90, 6, 90, 1);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: rgb(7, 7, 146, 1);
}